@media screen and (min-width: 2500px)
    .module__net
        padding-top: 140px

    .search
        padding-top: 600px

@media screen and (max-width: 1970px)
    .module__net
        .section__text
            margin-top: 430px

@media screen and (max-width: 1700px)
    .footer__wrap-below
        margin-left: 10.26%
        margin-right: 7.45%

@media screen and (max-width: 1600px)
    html
        font-size: 23px

    .container
        width: 100%

    .mobile__application
        .section__text
            margin-left: 6%

    .mob_app_slider
        margin-left: 4%

@media screen and (max-width: 1570px)
    .innerSlide
        width: 42.8%

@media screen and (max-width: 1510px)
    ul.sm-slider > li 
        width: 20%  

    .innerSlide
        width: 42.5%  
        top: 72px      

@media screen and (max-width: 1250px)            
    .E
        top: 100px
        
@media screen and (max-width: 1370px)
    html
        font-size: 20px