// Переменные
@import 'vars'

//---------Стили секций--------

//Секция с заголовком 
@import 'sections/title__section'

//Главная задача
@import 'sections/main__task'

//Модульная сетка
@import 'sections/module__net'

//Поиск
@import 'sections/search'

//Содержание новости
@import 'sections/news__content'

//Категории
@import 'sections/categories'

//Источники
@import 'sections/sources'

//Мобильное приложение
@import 'sections/mobile__application'

//Footer
@import 'sections/footer'

//---------Стили общих блоков--------

//Стиль текстовых блоков
@import 'common/section__text'

@import 'common/pseudo3dcloud'
//---------Стиль фона сайта----------

//@import 'maket__bg/maket__bg'


html
    line-height: 1
    font-size: 27px
//    max-width: 1920px
//    width: 100vw
    
body 
    height: auto
    width: 100%
    margin: 0
    padding: 0
//    display: flex
//    flex-direction: column
//    align-items: center
//    margin: 0 auto

div
    display: block

h1
    margin: 0

p
    margin: 0

a
    text-decoration: none

.clearfix:after
    clear: both

.clearfix
    *zoom: 1

.bg__wrapper
    display: block
    top: 0
    left: 0
    z-index: 1 
    
.wrapper
    display: block
    margin: 0 auto
    position: relative 
    overflow: hidden
    left: center
    z-index: 6
    opacity: .99
    width: 100%
//    max-width: 1920px

.section
    display: block
    
.container
    position: relative
    overflow: visible 
    width: 95vw
    max-width: 1600px
    margin: 0 auto
    padding: 0

.newster__letters
    color: $blackColor
    font-size: 9.407em
    font-family: $robotoBlack

//Адаптивная верстка
@import '_media'

