extends pug/layout/layout

block title
    | Newster

block title__section
    include pug/sections/title__section
block main__task
    include pug/sections/main__task
block module__net
    include pug/sections/module__net
block search
    include pug/sections/search
block news__content
    include pug/sections/news__content
block sources
    include pug/sections/sources
block mobile__application
    include pug/sections/mobile__application