doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		meta(http-enquiv='X-UA-Compatible', content="IE = edge")
		meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
		meta(name="keywords" content="")
		meta(name="author" content="AK")
		link(href="css/style.css" rel="stylesheet" type="text/css")
		link(href="fonts/fonts.css" rel="stylesheet" type="text/css")
		link(rel="stylesheet" media="all" href="css/animate.css")
		link(href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css")
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
		script(src='js/jquery.svg3dtagcloud.min.js')
		script(src="js/main.js")
		script(src="js/wow.min.js")
		script(src="js/tag-cloud.js")
		script(src="http://code.jquery.com/jquery-latest.js")
		script(src="js/change-slide.js")
		script(src="js/rotated-text.js")
		
		script
			include ../../js/main.js
				
		title
			block title
	body
		<!--[if lt IE 8]>
		p.browserhappy
			|You are using an <strong>outdated</strong> browser.
			|Please <a href="http://browserhappy.com/">upgrade your browser</a>
			|to improve your experience.
		<![endif]-->
		.wrapper
			block title__section
			block main__task
			block module__net
			block search
			block news__content
			block sources
			block mobile__application
		include ../sections/footer
		