@font-face{
	font-family: "RobotoBlack";
	src: url("../fonts/roboto-black/Roboto-Black.eot");
	src: url("../fonts/roboto-black/Roboto-Black.eot?#iefix")format("embedded-opentype"),
	url("../fonts/roboto-black/Roboto-Black.woff") format("woff"),
	url("../fonts/roboto-black/Roboto-Black.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face{
	font-family: "RobotoThin";
	src: url("../fonts/roboto-thin/roboto-thin.eot");
	src: url("../fonts/roboto-thin/roboto-thin.eot?#iefix")format("embedded-opentype"),
	url("../fonts/roboto-thin/roboto-thin.woff") format("woff"),
	url("../fonts/roboto-thin/roboto-thin.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face{
	font-family: "MarketFresh";
	src: url("../fonts/market-fresh/market-fresh.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face{
	font-family: "MarketFreshBold";
	src: url("../fonts/market-fresh/market-fresh-bold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face{
	font-family: "MyriadProRegular";
	src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
	src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
	url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face{
	font-family: "MyriadProSemibold";
	src: url("../fonts/MyriadProSemibold/MyriadProSemibold.eot");
	src: url("../fonts/MyriadProSemibold/MyriadProSemibold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/MyriadProSemibold/MyriadProSemibold.woff") format("woff"),
	url("../fonts/MyriadProSemibold/MyriadProSemibold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}