section.categories
    .container
        p.newster__letters.T T
        .section__text
            span.gradient Категории
            span Большое количество категорий на самые разнообразные тематики.
    .cloud#cl
    	.cloud-element
    		a(href="#1") Crime
    	.cloud-element
    		a(href="#2") Finance
    	.cloud-element
    		a(href="#3") Strange
    	.cloud-element
    		a(href="#4") Disasters
    	.cloud-element
    		a(href="#5") Science
    	.cloud-element
    		a(href="#6") Terrorism
    	.cloud-element
    		a(href="#7") Education
    	.cloud-element
    		a(href="#8") Millitary
    	.cloud-element
    		a(href="#9") Economics and Business
    	.cloud-element
    		a(href="#10") Electronics
    	.cloud-element
    		a(href="#11") Technology
    	.cloud-element
    		a(href="#12") Sport
    	.cloud-element
    		a(href="#13") Health
    	.cloud-element
    		a(href="#14") Lawsuits and investigations
    	.cloud-element
    		a(href="#15") Civil rightts
  