section.main__task.wow
    img(src="img/main__task-img.png").main__task-img.slideInRight.wow
    .blue__bg
        .white__town-bg
        .grid__table.grid__table-bg
            .grid__tr
            .grid__tr
            .grid__tr
        .grid__table
            .grid__tr.slideInDown.wow
                .grid__td
                .grid__td
                .grid__td
                    .related__content
                        img(src="img/grid-td1.jpg").related__content-img
                        fieldset
                            legend.table__legend Политика
                .grid__td
                .grid__td
            .grid__tr.slideInDown.wow
                .grid__td
                    .grid__fieldset-wrap
                        .grid__fidset-up
                            p.sizeY 290px
                        .grid__fidset-below
                .grid__td
                    .related__content
                        img(src="img/grid-td2.jpg").related__content-img
                        fieldset
                            legend.table__legend Образование
                .grid__td
                    .related__content
                        img(src="img/grid-td3.jpg").related__content-img
                        fieldset
                            legend.table__legend Наука
                .grid__td
                    .related__content
                        img(src="img/grid-td4.jpg").related__content-img
                        fieldset
                            legend.table__legend Спорт
                .grid__td
            .grid__tr.slideInDown.wow
                .grid__td-long
                .grid__td-long
                    .related__content
                        img(src="img/grid-td-long1.jpg").related__content-img
                        fieldset
                            legend.table__legend Развлечения
                .grid__td-long
                    .related__content
                        img(src="img/grid-td-long2.jpg").related__content-img
                        fieldset
                            legend.table__legend Финансы        
    .container
        .section__text
            span.gradient Главная задача
            span Создать минималистичный интерфейс новостного портала, не перегруженный большими изображениями и текстами статей, собирающий новости из большого количества истоников и предлагающий большой выбор новостных тем.
        p.newster__letters.N N
        p.newster__letters.E1 E