section.module__net.wow
    .container
        .section__text
            span Модульная сетка
            span Новости выстроены в колоночную модульную сетку, каждой колонке из которых выделено одинаковое пространство.
    