section.search.wow
    .container
        .section__text
            span.gradient Поиск
            span Минимум переходов, максимум информации.
        p.newster__letters.W W
        .video_img-wrap
            .mac_img-wrap
                embed(src='img/mac-bg.svg').search__mac
            .video-wrap
                video(src="video/sv.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' autoplay loop)
    