section.sources.wow
    .container
        .section__text
            span.gradient Источники
            span Новости из самых известных СМИ в мире.
    .channels
        ul.icon__channels.channels-lin1.alternate__left
            li.ch__name.bbc
            li.ch__name.msnbc
            li.ch__name.thewashingtonpost
            li.ch__name.reuters
        ul.icon__channels.alternate__right
            li.ch__name.walesonline
            li.ch__name.cnn
            li.ch__name.h
            li.ch__name.foxnews
            li.ch__name.theguardian
        ul.icon__channels.alternate__left
            li.ch__name.rt
            li.ch__name.express
            li.ch__name.indiatime
            li.ch__name.theindependent
            li.ch__name.dailystar
            li.ch__name.belfasttelegraph
        ul.icon__channels.alternate__right
            li.ch__name.obsnews
            li.ch__name.thejapantime
            li.ch__name.losangekestimes
            li.ch__name.abcnews
        ul.icon__channels.alternate__left
            li.ch__name.metro
            li.ch__name.theglobeandmail
            li.ch__name.thescotsman
            li.ch__name.aljazeera
            li.ch__name.talktalk
