.cloud
    display: block
    margin: 0 auto
    padding-bottom: 200px
    width: 1300px
    height: 630px
    font-family: $arial
    color: $tagColor
    z-index: 2

.cloud-element 
    font-size: 2em
    text-align: center
    color: #912ced

a
    color: $tagColor
    text-decoration: none