.section__text
    display: block
    color: $whiteColor
    
    span
        display: block
            
        &:first-child
            font-size: 5.926em
            font-family: $marketFresh
            line-height: 0.87
            
        &:last-child
            font-family: $robotoThin
            color: $blackColor
            line-height: 1.4
        
        &.gradient
            background: linear-gradient(to bottom left, #ff6440, #ff9b41)
            -webkit-background-clip: text
            color: transparent
    
    
    
    
