.categories
    width: 100%
    position: relative
    overflow: visible
    z-index: 5

    .section__text
        position: absolute
        width: 43%
        left: 20%
        top: 100px
        z-index: 4

.T
    position: absolute
    top: 40px

.tag-cloud
    overflow: visible
    position: relative
    margin: 0 auto
    width: 90%
    max-width: 1670px