.mobile__application
    width: 100%
    padding-top: 160px
    background: $mobAppBG
    position: relative
        
    .section__text
        display: inline-block
        margin-left: 8.88%
        margin-bottom: 200px
        width: 50%
        
        .gradient
            padding-bottom: 0.452em
            overflow: visible
            font-size: 5em
    
.E
    display: inline-block
    position: absolute
    margin-left: 3%
    top: 110px
    background: transparent
    transform: rotate(10deg)
    -webkit-transform: rotate(10deg)
    -ms-transform: rotate(10deg)
    z-index: 2

//New SLIDER
.horizontal-slidermix0
    position: relative
    display: flex
    justify-content: space-between
    flex-direction: row 
    margin-left: 8.44% 
    padding-bottom: 150px 
    width: 55% 
    max-width: 920px
    z-index: 15
    
.horizontal-slidermix
    position: relative  
    height: auto//300px
    width: 85% 
    max-width: 750px
    overflow: hidden
    
.slider-prevmix
    margin: auto 0
    
.slider-nextmix 
    margin: auto 0    

ul.no-mark  
    display: block
    margin: 0 auto
    
ul.sm-slider > li 
        display: inline-block
        vertical-align: top
        white-space: normal
        position: relative
        width: 22%//150px
        height: auto//239px
        margin: 0 20px 
        border-radius: 5px
        
        &:last-child
            margin-right: none
        
ul.sm-slider 
    .slide-cont 
        //display: block
        margin: 0 7px    
        text-decoration: none
        
.slide__content
    display: block 
    width: 100%

.img-over_x95
    display: block    
    margin: 0 7px 14px 7px
    
    height: 249px
    
.img-over_x95 
    img 
        max-height: 160px
    
.horizontal-slidermix1 
    font-size: 36px
    font-weight: 500 !important
    line-height: 1.2em
    color: #2E70BF
    margin: 56px 0 34px 0
    text-align: center
    
.phone__screen
    position: absolute
    width: 45%//23.75%
    height: auto
    top: -350px
    left: 67%
    z-index: 3
    
.mob_app_iphone
    position: relative //absolute
    width: 53%//100%
    height: auto
    margin: 0 auto
    z-index: 3

.innerSlide
    position: absolute
    width: 43%
    height: auto
    top: 75px
    left: 37px
    z-index: 4
    
.innerLi
    position: relative
    width: 100%//307px
    height: auto
    z-index: 5

    
   
   