.module__net
    width: 100%
    position: relative
    padding-top: 50px
    padding-bottom: 100px
    z-index: 3
    
    .section__text
        position: relative
        width: 50%
        margin-top: 500px
        margin-bottom: 400px
        z-index: 4
 
.E1
    position: absolute
    bottom: -1740px
    z-index: 3

    