.search
    width: 100%
    position: relative
    padding-top: 400px
    z-index: 6
    
    .section__text
        width: 50%
        margin-left: 35%
        padding-top: 370px
        margin-bottom: 30px
        z-index: 7
        
        span
            text-align: right
    
.W
    position: absolute
    left: 13%
    top: 380px
    transform: rotate(-20deg)
    -webkit-transform: rotate(-20deg)
    -ms-transform: rotate(-20deg)
    z-index: 8        

.video_img-wrap
    position: relative
    display: block
    margin: 0 auto
    align-items: center
    width: 100%
    max-width: 1600px
    
.mac_img-wrap
    position: relative
    width: 100%
    margin: 0 auto
    z-index: 9
    
    .search__mac
        position: relative
        margin: 0 auto
        padding-bottom: 50px
        width: 100%
        height: auto
        z-index: 9
    
.video-wrap
    position: absolute 
    width: 100% 
    top: 0 
    left: 0
    z-index: 10 

    video
        display: block
        position: relative
        margin: 0 auto
        padding-top: 36px
        width: 70%
        max-width: 1118px
        max-height: 714px
        z-index: 10

