.sources
    width: 100%
    
    .section__text
        margin-left: 35%
        margin-bottom: 100px
    
.channels
    display: block
    margin: 0 auto
    width: 100%
    align-items: center
    
.icon__channels
    display: inline-block
    width: 70%
    overflow: hidden
    list-style: none
    margin: 0 auto
    margin-bottom: 40px
    padding: 0
    position: relative

.ch__name
    display: inline-block
    background: url(../img/channels.png) 
    background-repeat: no-repeat
    margin-right: 1.5%
    margin-top: 20px

    &:hover
        cursor: pointer
    
.bbc
    background-position: -53px -22px 
    width: 266px
    height: 76px
    
.msnbc
    background-position: -410px -28px 
    width: 412px
    height: 66px

.thewashingtonpost
    background-position: -902px -26px
    width: 457px
    height: 70px
    
.reuters
    background-position: -1433px -22px
    width: 332px
    height: 77px

.walesonline
    background-position: -1807px 0
    width: 575px
    height: 120px

.cnn
    background-position: 0 -184px
    width: 208px
    height: 120px
.h
    background-position: -269px -189px
    width: 114px
    height: 114px
    
.foxnews
    background-position: -468px -193px
    width: 117px
    height: 111px

.theguardian
    background-position: -651px -181px
    width: 512px
    height: 130px
    
.rt
    background-position: -1199px -193px
    width: 123px
    height: 121px
    
.express
    background-position: -1395px -223px
    width: 322px
    height: 52px
    
.indiatime
    background-position: -1787px -227px
    width: 250px
    height: 44px
    
.theindependent
    background-position: -150px -390px
    width: 337px
    height: 80px
    
.dailystar
    background-position: -598px -384px
    width: 93px
    height: 93px
    
.belfasttelegraph 
    background-position: -776px -400px
    width: 270px
    height: 62px
    
.obsnews
    background-position: -1122px -405px
    width: 349px
    height: 52px
    
.thejapantime
    background-position: -1552px -398px
    width: 453px
    height: 69px
    
.losangekestimes
    background-position: -83px -545px
    width: 506px
    height: 88px
    
.abcnews
    background-position: -647px -547px
    width: 262px
    height: 84px
    
.metro
    background-position: -998px -544px
    width: 281px
    height: 90px
    
.theglobeandmail
    background-position: -1346px -551px
    width: 634px
    height: 88px
    
.thescotsman
    background-position: -41px -714px
    width: 373px
    height: 106px
    
.aljazeera
    background-position: -596px -728px
    width: 286px
    height: 92px
    
.talktalk
    background-position: -936px -728px
    width: 286px
    height: 87px

.alternate__left
    animation-duration: 10s
    animation-name: slideOut
    animation-iteration-count: infinite
    animation-direction: alternate

.alternate__right
    animation-duration: 10s
    animation-name: slidein
    animation-iteration-count: infinite
    animation-direction: alternate
        
@keyframes slidein 
  from 
    margin-left: 20%
    width: 100%
  to 
    margin-left: 10%
    width: 100%

@keyframes slideOut 
  from 
    margin-left: 10%
    width: 100%
  to 
    margin-left: 20%
    width: 100%
